.section__season {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../assets/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 65%;
}
.title__season {
  display: inline-block;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  color: $primary-light;
  text-shadow:
    1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.btn__season {
  cursor: pointer;

  color: $primary-dark;
  font-size: 1rem;

  padding: 0.8rem 1.6rem;
  margin-top: 2rem;

  background-color: $secondary-light;
  border-radius: 5px;
  border: $primary-light;

  transition: scale $hover-transition, color $hover-transition;
  font-weight: bold;

  &:hover {
    scale: 1.1;
  }
  &:active {
    scale: 0.9;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .title__season {
    font-size: 3rem;
  }
}
@media (max-width: $tablet-width) {
  .section__season {
    min-height: 40%;
    gap: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .title__season {
    font-size: 2rem;
  }
}

.section__feedback {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 20px;
}

.img__feedback {
  width: 100%;
  border-radius: 0 5px 5px 5px;
}
.content__feedback {
  border-top: 4px solid $primary-dark;

  padding: 1.5rem;

  @include flex($direction: column);

  .title__feedback {
    font-size: 5rem;
    font-weight: 800;
    padding-bottom: 1rem;

    text-align: center;
  }
}
.feedback {
  font-family: $font-feedback;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.06rem;
  color: $primary-dark;
  font-style: italic;
  padding-bottom: 2.1rem;
}
.author {
  font-family: $font-feedback;
  font-size: 1.5rem;
  text-align: center;
  color: $primary-dark;
  font-style: italic;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .section__feedback {
    flex-direction: column;
  }

  .title__feedback {
    font-size: 4rem;
    padding-bottom: 0.8rem;
    margin: 0;
  }
  .feedback {
    font-size: 1.4rem;
    padding-bottom: 1.8rem;
  }
  .author {
    font-size: 1.2rem;
  }
}
@media (max-width: $tablet-width) {
  .section__feedback {
    flex-direction: column;
  }

  .title__feedback {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }
  .feedback {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
  }
  .author {
    font-size: 1rem;
  }
}
