body:has(.not-found) {
  overflow: hidden;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: Atak, sans-serif;
}

.not-found__content-wrapper {
  width: max(60vw, 300px);
  height: 50vh;
  background-color: rgb(248, 242, 178);
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;

  padding: 30px;
  gap: 20px;

  font-size: 1rem;

  @media(max-width: 1024px) {
    font-size: 0.7rem;
    height: 40vh;
  }

  @media (max-width: 700px) {
    font-size: 0.5rem;
    height: 25vh;
  }

  @media (max-width: 500px) {
    font-size: 0.4rem;
  }
}

.not-found__photo {
  width: 100%;
  grid-row: span 3;
  
  align-self: center;
}

.not-found__description {
  text-align: center;
  font-size: 1.5em;

  max-width: 100%;
  align-self: center;

  grid-row: span 2;
}

.not-found__oops {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  animation: text-glow ease-in-out 2000ms infinite;
  display: block;
}

.not-found__home-text {
  font-weight: bold;
}

@keyframes text-glow {
  0% {
    color: rgb(0, 0, 0);
  } 
  50% {
    color: green;
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

.not-found__go-back {
  cursor: pointer;

  width: max(50%, 150px);
  aspect-ratio: 5 / 1;
  border-radius: 25px;

  background-color: #ffffff;
  color: green;
  border-color: green;

  transition: background-color ease-in-out 500ms;

  &:hover {
    background-color: darken(#ffffff, 5);
    animation: button-hover ease-in-out 1000ms infinite;
  }
}

@keyframes button-hover {
  0% {
    translate: none;
  }
  50% {
    translate: 0 -5px;
  }
  100% {
    translate: none;
  }
}

