body:has(.not-found) {
  .header,
  .footer,
  .burger-menu__open-button {
    display: none;
  }

  overflow: hidden;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-top: 0;
}

.not-found__content-wrapper {
  width: max(60vw, 300px);
  height: 50vh;
  background-color: $secondary-brown;
  border-radius: 50px;
  @include shadow();

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;

  padding: 30px;
  gap: 20px;

  font-size: 1rem;

  @media (max-width: 1024px) {
    font-size: 0.7rem;
    height: 40vh;
  }

  @media (max-width: 700px) {
    font-size: 0.5rem;
    height: 25vh;
  }

  @media (max-width: 500px) {
    font-size: 0.4rem;
  }
}

.not-found__photo {
  width: 100%;
  grid-row: span 3;

  align-self: center;
}

.not-found__description {
  text-align: center;
  font-size: 1.5em;

  max-width: 100%;
  align-self: center;

  grid-row: span 2;
}

.not-found__oops {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  animation: text-glow ease-in-out 2000ms infinite;
  display: block;
}

.not-found__home-text {
  font-weight: bold;
}

@keyframes text-glow {
  0% {
    color: $secondary-yellow;
  }
  50% {
    color: $primary-dark;
  }
  100% {
    color: $secondary-yellow;
  }
}

.not-found__go-back {
  cursor: pointer;

  @include flex();

  width: max(50%, 150px);
  aspect-ratio: 5 / 1;
  border-radius: 25px;

  background-color: $primary-light;
  color: $primary-dark;
  border: 2px solid $primary-dark;

  transition:
    background-color $hover-transition,
    scale $active-transition;

  &:hover {
    background-color: $secondary-light;
    animation: button-hover ease-in-out 1000ms infinite;
  }
}

@keyframes button-hover {
  0% {
    translate: none;
  }
  50% {
    translate: 0 -5px;
  }
  100% {
    translate: none;
  }
}
