.header__categories-nav {
  @include shadow();

  min-height: 10vh;
  padding: 15px 50px;

  border: 3px solid rgba($primary-dark, 0.5);
  border-radius: 20px;

  background: linear-gradient($primary-light, $secondary-light);

  z-index: $menu-layer;

  .dropdown-menu {
    font-size: 1.5em;
  }

  .dropdown-menu__content {
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
  }

  .dropdown-menu__open i {
    display: none;
  }

  .categories-group {
    height: 90%;
  }

  .categories-group:nth-of-type(2) {
    padding: 0 1em;
    $border-color: rgba($primary-dark, 0.5);
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
  }
}

.dropdown-menu__open {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1.5em;

  color: $primary-dark;

  i {
    margin-left: 0.25em;
    transition: transform $active-transition;
  }
}

.dropdown-menu:has(.dropdown-menu__content_expanded) {
  .dropdown-menu__open i {
    transform: rotate(180deg);
  }
}

.dropdown-menu__content {
  margin-top: 0.25em;

  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 1em;

  font-size: 0.7em;
  padding-left: 0.5em;

  &_expanded {
    overflow-y: auto;
  }
}

.categories-group {
  @include flex($direction: column, $justify-content: flex-start);
}
