.form__title {
  font-size: 2.5rem;
  margin: 0;
}

.form {
  @include flex($direction: column, $gap: 0.5em);
  padding-top: 30px;
}

.form__fieldset {
  @include flex($direction: column, $gap: 1rem);
  width: max(60vw, 300px);
}

.fieldset__title {
  font-size: 1.5rem;
  margin: 0;
}

.form__input-wrapper {
  @include flex($direction: column);
}

.form__label {
  @include flex($direction: column, $align-items: flex-start, $gap: 5px);
}

.form__input {
  @include input-style;

  &_invalid {
    border: 2px solid $not-valid-color;
  }
}

.form__validation-message {
  padding-top: 10px;
  height: 20px;
  font-family: $font-family;
  color: $not-valid-color;
}

.form__submit {
  width: max(20vw, 100px);
  height: 40px;

  background-color: $primary-dark;
  color: $primary-light;

  cursor: pointer;
}
