a {
  text-decoration: none;
  color: $primary-dark;

  transition:
  color $hover-transition,
  scale $active-transition;

  &:hover {
    color: $secondary-yellow;
  }

  &:active {
    scale: 0.9;
  }
}