.password__toggle-visibility-button {
  position: absolute;
  align-self: flex-end;
  translate: -40% 65%;

  cursor: pointer;

  width: 30px;
  height: 30px;

  @include flex();

  background-color: transparent;
  border-radius: 20px;
}

.visibility-button__image {
  aspect-ratio: 1/1;
  width: 20px;
}
