.section__slider {
  position: relative;
  background-color: $primary-light;
  padding-top: 2rem;
  .title__slider {
    color: $primary-dark;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-align: center;
  }
  .slider__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 53px;
    justify-content: center;
    margin-top: 2rem;
    .btn__arrow {
      position: absolute;
      background-color: inherit;
      width: 40px;
      height: 40px;
      border-top: 7px solid $secondary-grey;
      border-right: 7px solid $secondary-grey;
      border-left: none;
      border-bottom: none;
      top: 30%;
      transition: transform 0.2s;
    }
  }
  .card__product {
    background-color: $primary-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    justify-content: center;

    &:hover {
      overflow: hidden;
      img {
        scale: 1.05;
      }
    }
  }
}
.card__product > img {
  max-width: 100%;
  object-fit: cover;
  transition: scale $hover-transition;
}
#left {
  left: -3rem;
}

#right {
  right: -3rem;
}

.slider__container > .btn__arrow:first-child {
  transform: rotate(-135deg);
}
.slider__container > .btn__arrow:last-child {
  transform: rotate(45deg);
}

.card__product:hover {
  cursor: pointer;
}

.slider__container {
  width: 70vw;
  position: relative;
  padding: 0 1rem;
}
.wrapper__photo {
  overflow: hidden;
  white-space: nowrap;
}
.slider__photo {
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.slider__product {
  display: block;
  height: 100%;
  width: 100%;
}
.card__product {
  min-width: 8rem;
  min-height: 13rem;
}

.name__product {
  font-size: 1.3rem;
  white-space: normal;
  text-align: center;
  color: $primary-dark;
}

.slider__photo > .card__product:nth-child(n + 4):nth-child(-n + 20) {
  display: none;
}
@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .slider__container {
    width: 60vw;
  }
  .title__slider {
    font-size: 0.3rem;
  }
  .name__product {
    font-size: 1rem;
  }
  .btn__arrow {
    width: 35px;
    height: 35px;
  }
  .card__product {
    min-width: 8rem;
    min-height: 13rem;
  }
  .slider__photo > .card__product:nth-child(n + 3):nth-child(-n + 20) {
    display: none;
  }
}
@media (max-width: $mobile-width) {
  .slider__container {
    width: 50vw;
  }
  .title__slider {
    font-size: 0.2rem;
  }
  .name__product {
    font-size: 1rem;
  }
  .btn__arrow {
    width: 20px;
    height: 20px;
  }
  .card__product {
    min-width: 10rem;
    min-height: 15rem;
  }
  .slider__photo > .card__product:not(:first-child) {
    display: none;
  }
}
