$primary-dark: rgb(18, 48, 38);
$primary-light: #ffffff;
$secondary-light: rgb(243, 243, 243);
$secondary-yellow: #f5bc4b;
$secondary-brown: #c2ad93;
$secondary-grey: #666666;
$not-valid-color: #910202;