@mixin shadow() {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@mixin shadow-on-hover() {
  transition: box-shadow $hover-transition;
  &:hover {
    @include shadow();
  }
}

@mixin centered($width, $height) {
  position: absolute;
  top: calc(50% - $height / 2);
  left: calc(50% - $width / 2);
}

@mixin app-logo() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .logo__icon {
    max-height: 90%;
  }

  .logo__name {
    text-transform: uppercase;
  }

  &:hover {
    color: inherit;
  }

  &:active {
    scale: 1;
  }
}

@mixin flex($direction: row, $justify-content: center, $align-items: center, $gap: none) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

@mixin input-style {
  padding: 1rem;
  width: 75vw;
  max-width: 400px;
  outline: none;
}

@mixin button(
  $bg-color,
  $font-color,
  $border-color: $font-color,
  $border-radius: inherit,
  $bg-hover-color: $font-color,
  $font-hover-color: $bg-color,
  $border-hover-color: $font-hover-color
) {
  cursor: pointer;

  background-color: $bg-color;
  color: $font-color;
  font-weight: bold;

  border: 2px solid $border-color;
  border-radius: $border-radius;

  transition:
    background-color $hover-transition,
    color $hover-transition,
    border-color $hover-transition,
    scale $active-transition;

  &:hover {
    color: $font-hover-color;
    background-color: $bg-hover-color;
    border-color: $border-hover-color;
  }

  &:active {
    scale: 0.9;
  }
}
