$hover-transition: 500ms ease-in-out;
$active-transition: 300ms ease-in-out;

$base-layer: 0;
$dropdown-menu-layer: 1;

$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

$header-height: 150px;
