$hover-transition: 500ms ease-in-out;
$active-transition: 300ms ease-in-out;

$base-layer: 0;
$header-layer: 1;
$menu-layer: 2;
$burger-menu-button-layer: 3;

$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 1024px;

$header-height: 150px;

$font-family: 'Atak', sans-serif;
$font-feedback: 'Arial, Helvetica, sans-serif';
