.header {
  position: fixed;
  top: 0;
  left: 0;

  @include shadow();

  width: 100%;
  height: $header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $primary-light;

  @media (max-width: $desktop-width) {
    font-size: 0.6rem;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.header__logo {
  width: max(30%, 250px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: $primary-dark;

  .logo__icon {
    max-height: 90%;

    @media (max-width: $desktop-width) {
      max-height: 75%;
    }
  }

  .logo__name {
    text-transform: uppercase;
  }
}

.header__categories-show {
  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;

  color: darken($secondary-light, 20);
  font-size: 1.5em;

  border-bottom: 2px solid transparent;
  transition:
    color $hover-transition,
    border-color $hover-transition;

  &:hover {
    color: $primary-dark;
    border-color: $primary-dark;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__user-nav {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .navigation__link {
    font-size: 2em;
    color: $primary-dark;
    transition: color $hover-transition, scale $active-transition;

    &:hover {
      color: $secondary-yellow;
    }

    &:active {
      scale: 0.9;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
