.header {
  position: fixed;
  top: 0;
  left: 0;

  @include shadow();

  width: 100%;
  height: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $primary-light;
}

.header__logo {
  width: max(30%, 200px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .logo__icon {
    max-height: 90%;
  }

  .logo__name {
    text-transform: uppercase;
  }
}

.header__categories-show {
  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;

  color: darken($secondary-light, 20);
  font-size: 1.5em;

  border-bottom: 2px solid transparent;
  transition: color $hover-transition, border-color $hover-transition;

  &:hover {
    color: $primary-dark;
    border-color: $primary-dark;
  }
}

.header__user-nav {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .navigation__link {
    font-size: 2em;
    color: $primary-dark;
    transition: color $hover-transition;

    &:hover {
      color: $secondary-yellow;
    }
  }
}