.section__slider {
  position: relative;
  background-color: #ffffff;
  padding-top: 2rem;
  .title__slider {
    font-family: $BOLD-FONT, sans-serif;
    color: $primary-color;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-align: center;
  }
  .slider__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 53px;
    justify-content: center;
    margin-top: 2rem;
    .btn__arrow {
      position: absolute;
      background-color: inherit;
      width: 40px;
      height: 40px;
      border-top: 7px solid #666666;
      border-right: 7px solid #666666;
      border-left: none;
      border-bottom: none;
      top: 30%;
      transition: transform 0.2s;
    }
  }
  .card__product {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    justify-content: center;
  }
}
#left {
  left: -3rem;
}

#right {
  right: -3rem;
}

.slider__container > .btn__arrow:first-child {
  transform: rotate(-135deg);
}
.slider__container > .btn__arrow:last-child {
  transform: rotate(45deg);
}

.card__product:hover {
  cursor: pointer;
}

.slider__container {
  max-width: 70vw;
  position: relative;
  padding: 0 1rem;
}
.wrapper__photo {
  overflow: hidden;
  white-space: nowrap;
}
.slider__photo {
  scroll-behavior: smooth;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.slider__product {
  display: block;
  height: 100%;
  width: 100%;
}
.card__product {
  min-width: 17rem;
  min-height: 25rem;
}

.name__product {
  font-family: $MAIN-FONT;
  font-size: 2rem;
  white-space: normal;
  text-align: center;
  color: $primary-color;
}

@media (max-width: $tablet-width) and (min-width: $desktop-width) {
  .slider__photo {
    max-width: 64vw;
  }
  .title__slider {
    font-size: 1.8rem;
  }
  .name__product {
    font-size: 1.1rem;
  }
  .btn__arrow {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: $tablet-width) {
  .slider__container {
    max-width: 43vw;
  }
  .title__slider {
    font-size: 0.5rem;
  }
  .name__product {
    font-size: 0.9rem;
  }
  .btn__arrow {
    width: 20px;
    height: 20px;
  }
  .card__product {
    //min-width: 17rem;
    //min-height: 25rem;
    width: 12rem;
    height: 20rem;
  }
}
