.dropdown-menu__expand-wrapper {
  height: 0;
  overflow: hidden;
  transition: height var(--open-transition);

  &_expanded {
    height: var(--full-height);
  }
}

.dropdown-menu__content {
  height: var(--full-height);
}
