@import 'variables';
@import 'mixin';

.form {
  @include flex-center;
  padding-top: 30px;
  input {
    @include input-style;
  }

  .input-password-container {
    position: relative;
  }

  .btn-show-password-visible,
  .btn-show-password-hide {
    @include absolute-center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }

  .btn-show-password-visible {
    background: url(/src/assets/login/icon_showPassword.svg);
  }

  .btn-show-password-hide {
    background-image: url(/src/assets/login/icon_hidePassword.svg);
  }
}
