@import 'variables';
@import 'mixin';
@import 'form';
@import 'message';
@import 'btn';

.main,
.personal {
  @include flex-center;
  height: 100%;
  color: $primary-color;

  .title {
    color: $primary-color;
    font-size: 40px;
    font-family: $font-family;
    margin: 0;
  }
}
